.listaNews {
    list-style: none;
    padding: 0;
}

.liNews {
    background-color: #f5f2ed;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 700px;
}

.liNews p::first-letter {
    text-transform: uppercase;
}
.category {
    color: #475747;
    font-size: 1rem;
    margin-bottom: 10px;
}

.linkTitle {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}

.title {
    font-size: 1, 5rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.author {
    font-size: 11px;
    color: #888;
    text-transform: capitalize;
}

.createAd {
    font-size: 12px;
    color: #888;
    text-align: center;
}

.leadId {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}

div.votes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3rem;
    margin-top: 10px;
    gap: 10px;
    color: #333;
}

.negativeVote,
.positiveVotes {
    font-size: 14px;
    margin-top: 5px;
    color: #333;
    width: 15px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

.newsContent {
    flex: 1;
    padding-right: 20px; /* Espacio entre el contenido de texto y la imagen */
}

.newsImage {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
