* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
    
}

div.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.App > main {
    flex-grow: 1;
}

