.voteButton button.voteButton {
    background: none;
    color: black;
}

.voteButton svg {
    width: 1rem;
    height: 1rem;
}

.voteButton.positive svg {
    fill: green;
}

.voteButton.negative svg {
    fill: red;
}
