.newsContainer {
    background-color: #f5f2ed;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}
.headerNewsPages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
}

.titleNewsPage {
    color: #333;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 10px;
    flex: 2;
    height: 100%;
    max-width: 700px;
    text-align: center;
    margin: 10px;
}

.categoryLink {
    font-weight: bold;
    text-decoration: none;
    color: #475047;
    margin-bottom: 5px;
}

.categoryLink:hover {
    text-decoration: underline;
}

.author {
    font-size: 15px;
    color: #555;
    margin: 0px 5px 10px 0;
    text-transform: capitalize;
}

.leadIn {
    font-size: 18px;
    margin: 20px;
    font-style: italic;
}

.photo {
    margin: 10px 0 10px 10px;
    max-width: 700px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

p.body {
    background-color: #f5f2ed;
    max-width: 700px;
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0 20px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6;
}

.votesNews {
    margin-right: 10px;
}







