.newsForm {
    max-width: 700px;
    margin: auto;
    padding: 60px;
    background-color: #f5f2ed;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.titleNewsPages {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-size: 20px;
}


button {
    color: white;
    text-decoration: none;
    background-color: #1f1d1d;
    max-width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

button.buttonNews {
    margin:3rem;
}
 

label input{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    
}

input[type='text'],
textarea,
input[type='email'],
input[type='password'],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}


/* Estilos para el mensaje de error */
.error {
    color: red;
    margin-top: 5px;
}
