.Links {
    list-style: none;
    display: flex;
    margin: 0 15px;
    flex: 2;
    background-color: #1f1d1d;
    padding: 8px;
    border-radius: 10px;
}

.Link {
    color: white;
    text-decoration: none;
    background-color: #1f1d1d;
    padding: 8px;
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.navUser {
    display: flex;
    align-items: center;
    gap: 30px;
}

p.nameWithLogout {
    font-size: 18px;
    font-weight: bold;
    color: #475047;
    text-transform: capitalize;
   
}



