.buttonCustom {
    display: inline-block;
    background-color: #1f1d1d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 2rem;
}

.buttonCustom:hover {
    background-color: #333;
    transform: scale(1.05);
}