.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #069e96aa;
    color: #1e1c1c;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.LinkLogo {
    text-decoration: none;
    list-style: none;
    color: #1f1d1d;
}

@media (max-width: 768px) {
   .LinkLogo{
    font-size: 20px;
    margin-right: 15px;
   }
}
